# Code owners file.
# This file controls who is tagged for review for any given pull request.

# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# For anything not explicitly taken by someone else:
* @open-telemetry/cpp-contrib-approvers
