[submodule "exporters/geneva-trace/third_party/opentelemetry-cpp"]
	path = exporters/geneva-trace/third_party/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp
[submodule "exporters/userevents/third_party/LinuxTraceLogging"]
	path = exporters/userevents/third_party/LinuxTraceLogging
	url = https://github.com/Microsoft/LinuxTraceLogging
[submodule "exporters/user_events/third_party/LinuxTraceLogging"]
	path = exporters/user_events/third_party/LinuxTraceLogging
	url = https://github.com/Microsoft/LinuxTraceLogging
