version: "3.9"
networks:
    default:
        name: webserver-network
services:
    webserver_centos:
        build:
            context: .
            dockerfile: Dockerfile
        image: apache_centos
        profiles:
            - default
        hostname: webserver
        container_name: webserver_centos
        command: bash -c " httpd -k start && tail -f /dev/null "
        ports:
            - "8000:80"
    webserver_ubuntu:
        build:
            context: .
            dockerfile: docker/ubuntu20.04/Dockerfile
        image: apache_ubuntu
        hostname: webserver
        container_name: webserver_ubuntu
        command: bash -c " tail -f /dev/null "
        profiles:
            - ubuntu20.04
        ports:
            - "9000:80"
        depends_on:
            - otel-collector

# Collector
    otel-collector:
        image: otel/opentelemetry-collector:latest
        container_name: collector
        profiles:
            - default
            - ubuntu20.04
        command: ["--config=/etc/otel-config.yml", "--log-level=DEBUG", "${OTELCOL_ARGS}"]
        volumes:
            - ./otel-config.yml:/etc/otel-config.yml
        ports:
            - "4317:4317" # grpc
            - "55678:55678"
            - "55679:55679"
        depends_on:
            - zipkin

# Zipkin
    zipkin:
        image: openzipkin/zipkin:latest
        container_name: zipkin
        profiles:
            - default
            - ubuntu20.04
        ports:
            - "9411:9411"
            - "9410:9410"
