name: nginx instrumentation CI

on:
  push:
    branches: "*"
  pull_request:
    branches: [ main ]

jobs:
  test-nginx-agent:
    name: Test nginx agent
    runs-on: ubuntu-20.04
    steps:
      - name: checkout otel nginx
        uses: actions/checkout@v2
      - name: setup
        run: |
          sudo ./instrumentation/nginx/ci/setup_test_environment.sh
      - name: build docker images
        run: |
          cd instrumentation/nginx
          docker build -t otel-nginx-test/nginx -f test/Dockerfile .
          docker build -t otel-nginx-test/express-backend -f test/backend/simple_express/Dockerfile test/backend/simple_express
      - name: run tests
        run: |
          cd instrumentation/nginx/test/instrumentation
          mix local.hex --force --if-missing
          mix local.rebar --force --if-missing
          mix deps.get
          mix test
  build-nginx-agent:
    name: Build nginx agent
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
      - name: checkout otel nginx
        uses: actions/checkout@v2
      - name: setup
        run: |
          sudo ./instrumentation/nginx/ci/setup_ci_environment.sh
      - name: cache grpc checkout
        id: cache-grpc-src
        uses: actions/cache@v2
        with:
          path: "instrumentation/nginx/grpc"
          key: ${{ runner.os }}-grpc-src
      - name: checkout grpc
        if: steps.cache-grpc-src.outputs.cache-hit != 'true'
        uses: actions/checkout@v2
        with: 
          repository: "grpc/grpc"
          ref: "v1.35.0"
          fetch-depth: 1
          path: "instrumentation/nginx/grpc"
          submodules: "recursive"
      - name: cache grpc build
        id: cache-grpc-build
        uses: actions/cache@v2
        with:
          path: "install/grpc"
          key: ${{ runner.os}}-grpc-build
      - name: build grpc
        if: steps.cache-grpc-build.outputs.cache-hit != 'true'
        run: |
          cd instrumentation/nginx
          ./ci/grpc.sh
      - name: checkout opentelemetry-cpp
        uses: actions/checkout@v2
        with: 
          repository: "open-telemetry/opentelemetry-cpp"
          fetch-depth: 1
          path: "instrumentation/nginx/opentelemetry-cpp"
          submodules: "recursive"
      - name: build opentelemetry-cpp
        run: |
          cd instrumentation/nginx
          ./ci/otel-cpp.sh 
      - name: build nginx module
        run: |
          cd instrumentation/nginx
          ./ci/build_module.sh
      - name: Upload module artifact
        uses: actions/upload-artifact@v2
        with:
          name: otel-nginx
          path: ./instrumentation/nginx/build/otel_ngx_module.so
