name: spdlog

on:
  push:
    branches:
      - '*'
    path:
      - 'instrumentation/spdlog/**'
      - '.github/workflows/spdlog.yml'
  pull_request:
    branches: [main]
    paths:
      - 'instrumentation/spdlog/**'
      - '.github/workflows/spdlog.yml'

permissions:
  contents: read

jobs:
  cmake_linux:
    name: CMake Linux
    runs-on: ubuntu-latest
    steps:
      - name: checkout googletest
        uses: actions/checkout@v5
        with:
          repository: "google/googletest"
          ref: "release-1.12.1"
          path: "googletest"
      - name: checkout opentelemetry-cpp-contrib
        uses: actions/checkout@v5
        with:
          path: opentelemetry-cpp-contrib
      - name: checkout opentelemetry-cpp
        uses: actions/checkout@v5
        with:
          repository: "open-telemetry/opentelemetry-cpp"
          ref: "v1.21.0"
          path: "opentelemetry-cpp"
          submodules: "recursive"
      - name: setup dependencies
        run: |
          sudo apt update -y
          sudo apt install -y --no-install-recommends --no-install-suggests \
            build-essential \
            cmake \
            ninja-build \
            libssl-dev \
            libcurl4-openssl-dev \
            libprotobuf-dev \
            protobuf-compiler \
            libgmock-dev \
            libgtest-dev \
            libbenchmark-dev \
            libspdlog-dev

      # This is needed because libgmock-dev libgtest-dev installs 1.11,
      # and 1.11 breaks the build.
      - name: build googletest 1.12
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/googletest/build"
          cd "${GITHUB_WORKSPACE}/googletest/build"
          cmake .. -G Ninja
          cmake --build . -j$(nproc)
          cmake --install . --prefix="${GITHUB_WORKSPACE}/sandbox"

      - name: build opentelemetry-cpp
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/opentelemetry-cpp/build"
          cd "${GITHUB_WORKSPACE}/opentelemetry-cpp/build"
          cmake .. -G Ninja -DBUILD_TESTING=OFF -DWITH_BENCHMARK=OFF -DOPENTELEMETRY_INSTALL=ON
          cmake --build . -j$(nproc)
          cmake --install . --prefix="${GITHUB_WORKSPACE}/sandbox"

      - name: build instrumentation/spdlog contrib
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/instrumentation-spdlog/build"
          cd "${GITHUB_WORKSPACE}/instrumentation-spdlog/build"
          cmake ../../opentelemetry-cpp-contrib/instrumentation/spdlog \
            -G Ninja \
            -DCMAKE_PREFIX_PATH="${GITHUB_WORKSPACE}/sandbox" \
            -DBUILD_TESTING=ON \
            -DWITH_EXAMPLES=ON \
            -DOPENTELEMETRY_INSTALL=ON
          cmake --build . -j$(nproc)
          ctest -j1 --output-on-failure
          cmake --install . --prefix="${GITHUB_WORKSPACE}/sandbox"

